<p-toast [breakpoints]="{'900px': {width: '70%', right: '0'}}"></p-toast>
 <div class=" w-full flex flex-col items-center justify-start mt-[100px] ">
  <div class="w-full px-[60px]">
    <app-checkout-header/>

  </div>

  <div class="w-full grid grid-cols-12 px-[60px] my-[50px]">

    <div class="flex flex-col   items-start w-full mb-[100px] px-[60px] xl:col-span-9 sm:col-span-12">
      <h3 class="whitespace-nowrap text-lg font-semibold tracking-wider my-[30px]">Billing Details </h3>
        <form [formGroup]="checkoutFormGroup" class="w-full grid grid-cols-12 gap-7">
            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="Name" formControlName="name" id="name" type="text" class="w-full  focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />


              <div
              *ngIf="checkoutFormGroup.get('name').invalid && (checkoutFormGroup.get('name').dirty || checkoutFormGroup.get('name').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545] " *ngIf="checkoutFormGroup.get('name').errors?.['required']">Name is required.</span>

            </div>
            </div>
            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="Email" formControlName="email" id="email" type="text" class="w-full focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />
              <div
              *ngIf="checkoutFormGroup.get('email').invalid && (checkoutFormGroup.get('email').dirty || checkoutFormGroup.get('email').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('email').errors?.['required']">email is required.</span>
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('email').errors?.['email']">invalid email format</span>

            </div>
            </div>
            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="phone" formControlName="phone" id="phone" type="tel"  class="w-full focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />
              <div
              *ngIf="checkoutFormGroup.get('phone').invalid && (checkoutFormGroup.get('phone').dirty || checkoutFormGroup.get('phone').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('phone').errors?.['required']">phone is required.</span>
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('phone').errors?.['invalidPhoneNumber']">phone number should be 11 digits</span>

            </div>
            </div>
            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="street" formControlName="street" id="street" type="text" class="w-full focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />
              <div
              *ngIf="checkoutFormGroup.get('street').invalid && (checkoutFormGroup.get('street').dirty || checkoutFormGroup.get('street').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('street').errors?.['required']">street is required.</span>

            </div>
            </div>

            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="apartment" formControlName="apartment" id="apartment" type="text" class="w-full focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />
              <div
              *ngIf="checkoutFormGroup.get('apartment').invalid && (checkoutFormGroup.get('apartment').dirty || checkoutFormGroup.get('apartment').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('apartment').errors?.['required']">apartment is required.</span>

            </div>
            </div>


            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="Shipping address 1" formControlName="shippingAddress1" id="shippingAddress1" type="text" class="w-full focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />
              <div
              *ngIf="checkoutFormGroup.get('shippingAddress1').invalid && (checkoutFormGroup.get('shippingAddress1').dirty || checkoutFormGroup.get('shippingAddress1').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('shippingAddress1').errors?.['required']">shipping address is required.</span>

            </div>
            </div>

            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="Shipping address 2" formControlName="shippingAddress2" id="shippingAddress2" type="text" class="w-full focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />
              <div
              *ngIf="checkoutFormGroup.get('shippingAddress2').invalid && (checkoutFormGroup.get('shippingAddress2').dirty || checkoutFormGroup.get('shippingAddress2').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('shippingAddress2').errors?.['required']">shipping address is required.</span>

            </div>
            </div>



            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">

            <p-dropdown
            class="ng-dirty ng-invalid"            formControlName="country"
            optionLabel="name"
            optionValue="name"
            [options]="countries" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">

          </p-dropdown>

            <small *ngIf="checkoutForm['country'].invalid && isSubmitted" class="p-error"
              >Country is required</small
            >

            </div>
            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="City" formControlName="city" id="city" type="text" class="w-full focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />
              <div
              *ngIf="checkoutFormGroup.get('city').invalid && (checkoutFormGroup.get('city').dirty || checkoutFormGroup.get('city').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('city').errors?.['required']">city  is required.</span>

            </div>
            </div>

            <div class=" w-full col-span-6 flex flex-col justify-between items-start ">
              <input  placeholder="Zip" formControlName="zip" id="zip" type="text" class="w-full focus:!outline-none border-[1px] p-4 border-solid border-[#eee] h-[40px] text-[15px] tracking-wider text-[#797979] rounded-[3px] leading-[1.5]"  />
              <div
              *ngIf="checkoutFormGroup.get('zip').invalid && (checkoutFormGroup.get('zip').dirty || checkoutFormGroup.get('zip').touched)"
              class="pl-4"
            >
              <span class="text-[12px] text-[#ff4545]" *ngIf="checkoutFormGroup.get('zip').errors?.['required']">zip code is required.</span>

            </div>
            </div>

        </form>

    </div>


    <div class=" xl:col-span-3 sm:col-span-12">
      <app-order-summary  (placeOrderEmitter)="placeOrder()" />
    </div>

  </div>


<div class="w-full">
  <app-advertise/>

</div>

  </div>


