<div class="w-full flex flex-col justify-between items-center ">
  <div
    class="xl:self-start sm:self-center mt-[80px]  xl:text-left sm:text-center px-[60px]"
  >
    <h1
      class="font-[700] uppercase text-[36px] tracking-tight mb-[20px] leading-[1.2]"
    >
      Shop With Us
    </h1>
    <span class="text-[#7F85A8] text-[16px] leading-[1.6] mb-[15px]"
      >Browse from <strong>{{ products?.length }} </strong>latest items
    </span>
  </div>

  <div
    class="px-[60px] transition-all duration-300 ease-in-out   w-full flex 2xl:flex-row sm:flex-col space-x-5  mt-[50px] mb-[80px] 3xl:justify-between 2xl:justify-center sm:justify-start 2xl:items-start  sm:items-center  "
  >
    <div class="  flex xl:flex-row  sm:flex-col flex-wrap items-start justify-start  sm:mb-12 xl:ml-0 ">
      <app-filter
        (filter)="getValues($event)"
        (clear)="clear($event)"
        [categories]="categories"
      />
    </div>


    <div class=" flex flex-col  ">
      <span
        class="xl:self-start sm:self-center inline-block text-[17px] mb-[27px] tracking-wider font-[400] leading-[1.2]"
        ><strong class="text-salmon"> {{ products?.length }} </strong> Products
        Were Found</span
      >

      <div
        class=" grid grid-cols-12 transition-all duration-300 ease-in-out gap-x-2 gap-y-2  "
      >
        @for(product of products; track product.id){
          <div class=" w-full 3xl:col-span-4 2xl:col-span-6 xl:col-span-6  lg:col-span-6  md:col-span-12 sm:col-span-12 ">
            <app-product-item [product]="product"></app-product-item>

          </div>

        }
      </div>
    </div>
  </div>

  <div class="w-full">
    <app-advertise/>

  </div>
</div>
