
// .container
//     {
//       1200
//       1325
//     }


@media
(max-width : 1325px){
.container{
display: flex;
flex-direction: column;
}
}






@media
(min-width : 1326px){
  .container{
    .container{
      display: flex;
      flex-direction: row;
      }  }
}





