<div class=" w-full flex flex-col items-start justify-start 2xl:px-0 sm:px-5  ">
  <h3 class="text-salmon text-lg font-semibold  mt-5  ">Order Details</h3>

    <div *ngFor="let item of order?.orderItems" class="mb-4 grid w-full">
        <div class="col-12">
            <app-order-item [orderItem]="item" [status]="order?.status"></app-order-item>
        </div>
    </div>


    <ul class="w-full flex 2xl:flex-row sm:flex-col 2xl:space-x-3  2xl:justify-between 2xl:space-y-0 sm:space-y-5 mt-6">
          <li class="  whitespace-nowrap " >
              <span class="whitespace-nowrap text-[#797979] text-sm"><b  class=" text-blue-black text-sm ">Status:</b> <strong class="p-1 rounded-sm" [ngStyle]="{'background': orderStatus[order?.status]?.color}"> {{orderStatus[order?.status]['status']}}</strong> </span>
          </li>
          <li class="   whitespace-nowrap" >
            <span class="whitespace-nowrap text-[#797979] text-sm"><b class=" text-blue-black text-sm ">Invoice Number:</b> {{order?.id | slice: 0: 6}}</span> <br>
        </li>
          <li class=" whitespace-nowrap " >
              <span class="whitespace-wrap text-[#797979] text-sm" ><b class=" text-blue-black text-sm">Invoice Date:</b> {{order?.dateOrdered | date :'short'}}</span>
          </li>

      <li class=" whitespace-nowrap">
              <span class="whitespace-nowrap text-[#797979] text-sm"><b class=" text-blue-black text-sm">Total:</b> {{order?.totalPrice |currency :'EGP'}}</span>
          </li>
          <li class=" whitespace-nowrap " >
              <span class="whitespace-nowrap text-[#797979] text-sm"> <b class=" text-blue-black text-sm">Delivery Charges:</b> Free</span>
          </li>

      </ul>
  </div>
