@keyframes fadeInUp {
  0% {
      visibility: hidden;
      transform: translate3d(0,100%,0)
  }

  to {
      opacity: 1;
      transform: translateZ(0)
  }
}

h5{
    animation-name: fadeInUp;
    animation-delay: .04s;
    animation-duration: .7s;
    animation-fill-mode: backwards;



}

p{
  animation-name: fadeInUp;
  animation-delay: .06s;
  animation-duration: .7s;
  animation-fill-mode: backwards;



}
