<div class="bg-almond w-full h-auto grid  xl:gap-y-0 sm:gap-y-6 xl:grid-flow-col sm:grid-flow-row xl:pt-[100px] xl:pb-[50px] xl:px-[60px] sm:py-5 sm:px-[60px]  ">
  <div class="bg-transparent flex flex-col justify-between items-start">
    <div class="mb-[26px]">
      <img src="../../../assets/services1.svg"/>
    </div>

    <div>
      <h5 class="text-[20px] !font-semibold mb-3 block uppercase text-[#2B2B2B] leading-[1.2]">Fast & Free Delivery</h5>
      <p class="text-[#57667e] text-base !leading-[1.4] font-normal text-left">Free delivery on all orders</p>
    </div>
  </div>


  <div class="bg-transparent flex flex-col justify-between items-start">
    <div class="mb-[26px]">
      <img src="../../../assets/services2.svg"/>
    </div>

    <div>
      <h5 class="text-[20px] !font-semibold mb-3 block uppercase text-[#2B2B2B] leading-[1.2]">Secure Payment
      </h5>
      <p class="text-[#57667e] text-base !leading-[1.4] font-normal text-left">Free delivery on all orders</p>
    </div>
  </div>


  <div class="bg-transparent flex flex-col justify-between items-start">
    <div class="mb-[26px]">
      <img src="../../../assets/services3.svg"/>
    </div>

    <div>
      <h5 class="text-[20px] !font-semibold  mb-3 block uppercase text-[#2B2B2B] leading-[1.2]">Money Back Guarantee
      </h5>
      <p class="text-[#57667e] text-base !leading-[1.4] font-normal text-left">Free delivery on all orders</p>
    </div>
  </div>



  <div class="bg-transparent flex flex-col justify-between items-start">
    <div class="mb-[26px]">
      <img src="../../../assets/services4.svg"/>
    </div>

    <div>
      <h5 class="text-[20px] !font-semibold mb-3 block uppercase text-[#2B2B2B] leading-[1.2]">Online Support</h5>
      <p class="text-[#57667e] text-base !leading-[1.4] font-normal text-left">Free delivery on all orders</p>
    </div>
  </div>
</div>

