
<div class="w-full h-screen flex flex-col justify-center items-center">
    <div class="flex flex-col justify-center items-center space-y-10 p-5">
      <i class="bi bi-check-circle text-5xl text-[#28b326]"></i>
      <h2 class="text-3xl text-blue-black text-center">Thank you for Shopping with us!</h2>
      <h3 class="text-base text-blue-black text-center">We have recieved your order and it will be delivered in the next 3 days.</h3>
      <button  class="btn" routerLink="/">Back to shop</button>
    </div>
  </div>
