 <div class=" w-full flex flex-row items-center justify-center" >
<div class=" w-full grid grid-cols-12 items-center text-center overflow-x-auto " >
<div class="image xl:col-span-3 sm:col-span-12 ">
    <img class="sm:mt-1" [src]="orderItem.product?.image.url" [alt]="orderItem.product?.name" style=" border:0;  border-radius: 2%; object-fit: cover;">
</div>
<div class="xl:col-span-9 sm:col-span-12   flex  flex-row  justify-between px-4 min-w-max pb-5" >
    <div class=" text-left mr-2  ">
      <strong class="pr-1.5 text-blue-black ">name: </strong> <span class="whitespace-nowrap text-[#797979]"> {{orderItem?.product?.name}}</span>
    </div>
    <div class=" text-left mr-2">
       <strong class="pr-1.5 text-blue-black "> quantity:</strong> <span class="whitespace-nowrap text-[#797979]">{{orderItem?.quantity}}</span>
    </div>
    <div class=" text-left mr-2 ">
        <strong class="pr-1.5 text-blue-black  ">price:</strong> <span class="whitespace-nowrap text-[#797979]">{{orderItem?.product?.price}}</span>
    </div>
    <div class=" text-left mr-2">
        <strong class="pr-1.5 text-blue-black ">category:</strong> <span class="whitespace-nowrap text-[#797979]">{{orderItem?.product?.category?.name}}</span>
    </div>


</div>

</div>



