 <div class="container flex flex-row align-content-center justify-items-center overflow-x-auto  bg-white h-11rem" style="width: 100%;">
<div class="item-details grid  align-self-center text-center overflow-x-auto" style="width: 100%;">
<div class="image col-4 md:col-4 ">
    <img class="sm:mt-1" [src]="orderItem.product.image" [alt]="orderItem.product.name" style="width:95%; max-height: 150px; min-height: 110px; border:0;  border-radius: 2%;">
</div>

<div class="col-8  flex flex-column justify-content-around" >
<div class="flex col-12 flex-row justify-items-between ">
    <div class="name col-6 md:col-3 text-left flex flex-row flex-nowrap overflow-hidden">
      <strong class="details ">name: </strong> <span class="white-space-nowrap"> {{orderItem.product.name}}</span>
    </div>
    <div class="quantity col-6 md:col-3 text-left ">
       <strong class="details mr-1"> quantity:</strong> <span class="white-space-nowrap">{{orderItem.quantity}}</span>
    </div>
    <div class="price col-6 md:col-3 text-left ">
        <strong class="details mr-1">price:</strong> <span class="white-space-nowrap">{{orderItem.product.price}}</span>
    </div>
    <div class="category col-6 md:col-3 text-left">
        <strong class="details mr-1">category:</strong> <span class="white-space-nowrap">{{orderItem.product?.category?.name}}</span>
    </div>
</div>
<div class="col-12" style="min-width: 450px;">
    <p-steps [model]="items" [readonly]="false" [activeIndex]="orderStatus[status]?.label" ></p-steps>

</div>

</div>

</div>



