<div class="banner">
    <div class="grid">
        <div class="col-lg-5 md:col-4 col-9 ml-6 banner-text">
            <h1>the best products </h1>
            <h2>in every category</h2>
            <p-button styleClass="mt-4 banner" label="See More" icon="pi pi-angle-right" iconPos="right" routerLink="/products"> </p-button>
        </div>
        <div class="lg:col-6 md:col-2  hidden md:block banner-image animate__animated animate__slideInLeft">
            <img class="" src="../../../../../assets/banner-image.svg" alt="banner" />
        </div>
    </div>
</div>