footer {


    background-color: var(--yellow-100);
    height: auto;
    min-height: auto;
    width: 100%;
    margin-top: 25px;
    justify-self: flex-end;

   padding: 10px 25px;


    .footer-wrapper {
      align-items: center;

      .social {
        margin-top: 15px;
        text-align: right;
        .nav {
            text-align: center;
            display:flex;
          justify-content: flex-end;
          color: black;
          .nav-item{
            list-style: none;
            margin-left: 10px;
           .pi{color: black; font-size: medium;}
          }
        }
      }
    }
  }
