<p-toast [breakpoints]="{'900px': {width: '70%', right: '0'}}"></p-toast>
    <div class="flex flex-column align-items-center">
        <div class="grid  justify-content-center ">
            <div class="col-12 md:col-3">
                <app-product-gallery [images]="product?.images"></app-product-gallery>
            </div>
            <div class=" col-12 md:col-5 product " *ngIf="product">
                <b class="product-name">{{product.name}}</b>
                <p class="product-description col-12">{{product.description}}</p>
                <div class="product-rating">
                     <p-rating (onRate)="editRating($event, product)" [(ngModel)]="product.rating"
                        [cancel]="false"></p-rating>
                </div>
                <div class="product-price">
                    {{product.price | currency }} -
                    <span class="price-before">
                        {{product.price + 18 | currency}}
                    </span>
                </div>
              <div class="product-quantity">
                <div class="p-field col-12 md-3 p-0">
                    <label for="quantity" style="color: #ff3a00;">Quantity</label>
                        <p-inputNumber [style]="{'margin-left': '10px'}" [(ngModel)]="productQuantity" mode="decimal" [showButtons]="true" inputId="quantity" [min]="0" [max]="100"> </p-inputNumber>
                </div>
              </div>

              <div class="product-action">
                <button pButton  pRipple type="button" label="buy now" (click)="addToCartAndBuy()" class="p-button-rounded details  mr-2"></button>
                <button pButton  pRipple type="button" label="add to cart" (click)="addToCart()" class="p-button-rounded details"></button>

              </div>


            </div>

        </div>


        <div class="product.rich-description col-12 md:col-8 " *ngIf="product" >
            <b style="color:#ff3a00">Description</b>
            <div [innerHTML]="product?.richDescription">
            </div>
    </div>

    </div>

