<div class="cart-page  mt-[100px] transition-all duration-300 ease-in-out">
    <ng-template #cartFull>
        <div class="px-[60px] mb-[100px] grid gap-4 grid-cols-12 overflow-x-auto ">
            <div class="lg:col-span-8 sm:col-span-12 overflow-x-auto">
                <table class=" w-full min-w-[700px]">
                  <thead class="  border-b-[1px] w-full ">
                    <th class="pb-2 text-start text-[#797979] text-[14px] ">Product</th>
                    <th class="pb-2 text-start text-[#797979] text-[14px] ">Price</th>
                    <th class="pb-2 text-start text-[#797979] text-[14px] ">Quantity</th>
                    <th class="pb-2  text-start text-[#797979] text-[14px] pl-3">Subtotal</th>
                  </thead>
                  <tbody class="w-full ">
                    @for(cartItem of cartItemsDetails; track cartItem?.product?.id  ){
                      <tr class="border-b-[1px] w-full ">
                      <td class="whitespace-nowrap max-w-max min-w-max min-h-max  py-12 ">
                        <img class="inline-block w-[150px] h-[100px] object-cover mr-3" [src]="cartItem?.product?.image?.url" [alt]="cartItem?.product?.name" >
                         <span class="whitespace-nowrap  inline-block text-[#797979] text-[14px]  text-left">
                          {{ cartItem?.product?.name}}
                        </span>
                      </td>
                      <td class=" min-w-max max-w-max min-h-max py-12 text-[14px]">
                        {{cartItem?.product?.price | currency}}
                      </td>

                      <td class=" max-w-[100px]   min-h-max py-12 text-[14px]" >
                        <p-inputNumber styleClass="{}" [(ngModel)]="cartItem.quantity" mode="decimal" [showButtons]="true" [styleClass]="'focus:!outline-none'"
                        inputId="cartItem?.product?.id" [min]="1" [max]="10" (onInput)="updateCartQuantity($event, cartItem)"> </p-inputNumber>
                      </td>

                      <td class=" min-w-max pl-3 min-h-max py-12 text-[14px]" >
                        {{cartItem?.product?.price * cartItem?.quantity |currency}}

                      </td>

                      <td class=" min-w-max min-h-max py-12" >
                        <button  class="  bi bi-trash text-salmon text-lg"
                        (click)="deleteCartItem(cartItem)">
                      </button>
                      </td>


                    </tr>

                    }

                  </tbody>
                </table>

            </div>
            <div class="lg:col-span-4 sm:col-span-12" >
                <app-order>
                    <div class="checkout-button">
                        <button routerLink="/checkout"
                        class="btn whitespace-nowrap !mt-[25px] "

                         type="button" >checkout </button>



                      </div>
                </app-order>
            </div>

    </div>
    </ng-template>


    <div class="mb-[100px]" *ngIf="cartItemsDetails.length === 0; else cartFull">
   <img src="../../../../assets/EmptyCart_3-Copy.png" alt="empty cart" style="height: 100%; width: 100%; position: relative">
</div>





<app-advertise/>

</div>


