<div class="container">
    <h3>User Details</h3>
    <p-card>
        <p class="mb-2">
    <strong>Name</strong> : {{user?.name}}
        </p>

        <p class="mb-2">
          <strong>Email</strong>   : {{user?.email}}
                </p>
                <p >
                   <strong>Phone</strong>  : {{user?.phone}}
                        </p>

                        <i routerLink="/profile/user/edit"  class="pi pi-user-edit cursor-pointer " style="font-size: 1.5rem; color: #ff3a00;"> </i>

    </p-card>
</div>
