<div class=" shadow-md flex flex-col items-start px-5 justify-center py-5">
  <span class="inline-block w-full text-base text-blue-black mb-4 border-b-[1px] pb-4 tracking-wider">User details</span>

  <ul class="flex flex-col  items-start w-full">
    <li  class=" text-blue-black mb-2 tracking-wider  ">
      <strong class="text-salmon">Name</strong> : {{user?.name}}
    </li>
    <li  class=" text-blue-black mb-2 tracking-wider ">
      <strong class="text-salmon">Email</strong>   : {{user?.email}}
    </li>
    <li  class=" text-blue-black mb-2 tracking-wider ">
      <strong class="text-salmon">Phone</strong>  : {{user?.phone}}

    </li>
  </ul>


  <i  routerLink="/profile/user/edit" class="bi bi-pencil-square self-end text-salmon text-lg cursor-pointer hover:text-blue-black transition-all duration-200 ease-in-out"></i>



</div>
