



<section class="w-full flex flex-col items-center justify-between pt-[100px] pb-[80px] px-[60px]  ">
  <div class="2xl:max-w-[700px] flex flex-col justify-between items-center text-center mb-[60px]">
    <h2 class="transition-all duration-100 ease-in-out whitespace-nowrap  uppercase text-[#1a1a1a] md:text-[36px] sm:text-[16px] font-bold leading-[1.2] md:mb-5 sm:mb-2">POPULAR PRODUCTS  </h2>
    <p class=" font-normal leading-[1.6] md:text-base sm:text-[12px] mb-[15px]  px-2">Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
  </div>

  <div class="categories relative lg:w-[77%] sm:w-[95%] ">
    <ul class=" flex flex-row  justify-center items-start px-1  ">
      <a
      *ngFor="let category of categories; let index = index"
      [ngClass]="{'hoverEff' : activeButton === index }"
           (click)="getProductss(category?.id , index)"
      class="inline-block  text-blue-black h-full py-[20px]   md:text-[16px] sm:text-[13px] border-b-[2px] border-solid border-transparent uppercase lg:px-[28px] sm:mr-2 mb-[37px] cursor-pointer transition-all duration-100 ease-in-out" >
      {{category?.name}}
      </a>
    </ul>
  </div>

  <div class="w-full grid grid-cols-12 gap-5 transition-all duration-300 ease-in-out gap-x-7 gap-y-9" >
    @for(product of products; track product.id){
      <div class="w-full xl:col-span-4 lg:col-span-6 sm:col-span-12 ">
        <app-product-item [product]="product"></app-product-item>

      </div>

    }
  </div>

</section>

<app-advertise/>
