

<div class="container w-full flex flex-col justify-start items-start py-5 px-5 shadow-md overflow-auto " >
    <h3 class="text-salmon pb-4 mb-4">Orders</h3>
 <div class="flex flex-row items-start justify-center min-w-max">
  <table class="w-full">
    <thead class="w-full">
        <th class="text-start text-blue-black pr-3">Order Code</th>
        <th class="text-start text-blue-black pr-3">Ordered At</th>
        <th class="text-start text-blue-black pr-3">Order Status</th>
        <th class="text-start text-blue-black pr-3">Order Review</th>
        <th class="text-start text-blue-black pr-3"></th>


    </thead>
<tbody >

  @for(order of ordersArr; track order.id ){
        <tr>
            <td class="whitespace-nowrap text-[#797979] pr-3">{{order.id | slice: 0: 6}}</td>

            <td class="whitespace-nowrap text-[#797979] pr-3">{{order.dateOrdered | date : 'short'}} </td>
            <td class="whitespace-nowrap pr-3">
              <div class="flex flex-row justify-start items-center">
                <svg height="10" width="10">
                  <circle cx="5" cy="5" r="4" [attr.fill]= "orderStatus[order.status]?.color"/>
                  Sorry, your browser does not support inline SVG.
                </svg>
              <span class="whitespace-nowrap text-[#797979] ml-1.5">{{orderStatus[order.status]?.status}}</span>

              </div>

            </td>

             <td class="flex flex-row whitespace-nowrap pr-3" >
                <img *ngFor="let item of order.orderItems " [src]="item?.product?.image.url" [alt]="item?.product?.name" style="width: 70px; height: 70px; margin-left:5px; border-radius: 10%;">
             </td>
<td class="text-xs font-medium text-salmon   " >
<span [routerLink]="'/profile/orders/'+ order.id"  class="cursor-pointer whitespace-nowrap" > VIEW ORDER <i class="cursor-pointer text-xs ml-1 bi bi-arrow-right"></i> </span>

</td>
        </tr>
      }
</tbody>
</table>


 </div>


</div>
